﻿@model SC.BL.Domain.Club

@{
    ViewBag.Title = "Add club";
    Layout = "_Layout";
}

<h2>Add club</h2>

<form asp-controller="Club" asp-action="AddClub" method="post">
    <label asp-for="@Model.Naam" style="width: 16ch">Name</label>
    <input asp-for="@Model.Naam" class="form-control" type="text" style="width: 25ch">
    <span class="text-danger" asp-validation-for="@Model.Naam"></span>

    <br><label asp-for="@Model.Land" style="width: 16ch">Country</label>
    <input asp-for="@Model.Land" class="form-control" type="text" style="width: 25ch">
    <span class="text-danger" asp-validation-for="@Model.Land"></span>

    <br><label asp-for="@Model.CapaciteitStadion" style="width: 16ch">Stadium capacity</label>
    <input asp-for="@Model.CapaciteitStadion" class="form-control" type="number" style="width: 25ch">
    <span class="text-danger" asp-validation-for="@Model.CapaciteitStadion"></span>

    <br><label asp-for="@Model.Oprichtingsdatum" style="width: 16ch">Founding date</label>
    <input asp-for="@Model.Oprichtingsdatum" class="form-control" type="date" style="width: 25ch">
    <span class="text-danger" asp-validation-for="@Model.Oprichtingsdatum"></span>
    
    <br><label asp-for="@Model.Trainer" style="width: 16ch">Trainer</label>
        <input asp-for="@Model.Trainer" class="form-control" type="text" style="width: 25ch">
        <span class="text-danger" asp-validation-for="@Model.Trainer"></span>

    <br><input type="submit" value="Save">
</form>