﻿@using SC.BL.Domain
@{
    ViewBag.Title = "Add/remove club to competition";
    Layout = "_Layout";
}

<h2>Add/remove club to competition</h2>

<table style="width: 50%">
    <tr>
        <td>Name</td>
        <th>@ViewBag.Competition.Naam</th>
    </tr>
    <tr>
        <td>Location</td>
        <td>@ViewBag.Competition.Locatie</td>
    </tr>
    <tr>
        <td>Since</td>
        <td>@ViewBag.Competition.Oprichtingsjaar</td>
    </tr>
</table>

<h3>Clubs</h3>
<table style="width: 35%">
    @foreach (ClubCompetitie cc in ViewBag.ClubsOfCompetition)
        {
            <tr>
                <td>@cc.Club.Naam</td>

                <td>
                    @Html.ActionLink("Remove", "AddRemoveClubCompetition", "Club",
                        new {clubId = cc.Club.Id, competitieId = cc.Competitie.Id, addRemove = false})
                </td>
            </tr>
        }
</table>


<h3>Clubs to add</h3>
<table style="width: 32%">
    @foreach (Club club in ViewBag.OtherClubs)
    {
        <tr>
            <td>@club.Naam</td>

            <td>
                @Html.ActionLink("Add", "AddRemoveClubCompetition", "Club",
                    new {clubId = club.Id, competitieId = @ViewBag.Competition.Id, addRemove = true})
            </td>
        </tr>
    }
</table>