﻿@using SC.BL.Domain
@model SC.BL.Domain.Club

@{
    ViewBag.Title = "Club details";
    Layout = "_Layout";
}

<h2>Club details</h2>

<table style="width: 35%">
    <tr>
        <td>Name</td>
        <th>@Model.Naam</th>
    </tr>
    <tr>
        <td>Country</td>
        <td>@Model.Land</td>
    </tr>
    <tr>
        <td>Stadium capacity</td>
        <td>@Model.CapaciteitStadion</td>
    </tr>
    <tr>
        <td>Founding date</td>
        <td>@Model.Oprichtingsdatum.ToString("dd MMMM yyyy")</td>
    </tr>
    <tr>
        <td>Trainer</td>
        <td>@Model.Trainer</td>
    </tr>
</table>

<h2>Competitions</h2>

<table style="width: 50%">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Since</th>
    </tr>
    @foreach (ClubCompetitie cc in Model.ClubInCompetities)
    {
        <tr>
            <td>@cc.Competitie.Naam</td>
            <td>@cc.Competitie.Locatie</td>
            <td>@cc.Competitie.Oprichtingsjaar</td>
            <td>@Html.ActionLink("Details", "CompetitieDetail", "Club", new {id = cc.Competitie.Id})<td/>
        </tr>
    }
</table>

<h2>Players</h2>

<table style="width: 75%">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Length</th>
        <th>Birthday</th>
        <th>Position</th>
    </tr>
    @foreach (ClubSpeler cs in Model.SpelersInClub)
    {
        string spelerNaam = cs.Speler.Naam ?? "Unknown";

        <tr>
            <td>@spelerNaam</td>
            <td>@cs.Speler.Rugnummer</td>
            <td>@cs.Speler.Grootte</td>
            <td>@cs.Speler.Geboortedatum.ToString("dd MMMM yyyy")</td>
            <td>@cs.Speler.Positie</td>
            <td>@Html.ActionLink("Details", "SpelerDetail", "Club", new {id = cs.Speler.Id})<td/>
        </tr>
    }
</table>